/* this is a CSS comment */
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header,footer{
    background-color: rgb(114, 240, 227)
}

.site-title{
    color:rgb(107, 11, 11)
}