/* this is a css comment */
.title {
    width: 100%;
    padding: 1em;
    color:white;
    position:absolute;
    z-index: 2;
    left: 0;
    text-align: center;
}

.cover {
    background-image: url("lone-starfish-wide.jpg");
    background-size: cover;
    background-position: center ;
 }

nav ul li {
    color:black;
    display: inline-block;
    width: 100px;
    border-right: 1px solid black;
    text-align: center;
}

nav ul li:last-child {
    border-right: none;
}