/* this is a css comment */
.title {
    width: 100%;
    padding: 4em;
    color:white;
    position: absolute;
    text-align: center;

}

.cover {
    width: 100%;
    background-image: url("lone-starfish-wide.jpg");
    background-size: cover;
    background-position: relative ;
 }

nav ul li {
    color:black;
    display: inline-block;
    width: 100px;
    border-right: 1px solid black;
    text-align: center;
}

nav ul li:last-child {
    border-right: none;
}