/* this is a css comment */
header {
    width: 100%;
    background-color:#7bb1af;
    padding: 2em;
    color:white;
    position: fixed;
    z-index: 2;
    left: 0;
    text-align: center;
    background-image:url("lone-starfish-wide.jpg")
 }

nav ul li {
    color:black;
    display: inline-block;
    width: 100px;
    border-right: 1px solid black;
    text-align: center;
}

nav ul li:last-child {
    border-right: none;
}