.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 760px) {
    .container {
        padding: 0 20px;}
    /* Styles applied between 760px and above */
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-wrapper {
    background-color:black;
}

.home-nav{
    height: 140px;
}

.nav-item{
    text-align: center; /* center-align the text */
}

.nav-item:hover{
    background-color: #c78c06;
}

.home-nav:hover{
    background-color: #c78c06;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display list items vertically */
nav ul li a {
    display: block;
    color:#c78c06;
    padding: 10px 20px; ; /* Padding around links */
    text-decoration: none; /* Remove underline from links */
}

.search-wrapper {
    width: 100%;
    display: inline-block;
    background-color: white;
    height: 35px;
}

.search-wrapper {
    /* width: 100%; */
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
    height: 33px;
}

.search-wrapper input {
    width: 80%;
    margin-left: 5%;
}

.search-wrapper i {
    border-style: solid;
    border-color: #c78c06;
    color: #c78c06;
    width: 33px;
}

.welcome-wrapper {
    position: relative;
}

.welcome-text {
    position: absolute;
    top: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.648);
    padding: 5px;
}

.connectbutton-wrapper{
    background-color: #c78c06;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: black;
}
.button-connect {
    border: none;
    background: none;
}

.full-width {
    display: block;
    width:100%;
}

.about-us {
    background-color: #ffe6ac;
    display: block; /* Ensure the image is displayed as a block element */
    width: 100%; /* Make the image fill the container */
}


.about-us {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.about-us > .block:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3 ;
}
  
.about-us > .block:nth-child(2) {
    grid-column: 1/4;
    grid-row: 3/3;
}
.our-services {
    background-color: #ffe6ac;
}

 .button-wrapper{
    background-color: #222;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: white;
    margin-bottom: 20px;
}
    
 .button {
    border: none;
    background: none;
    color: white;
}

.button-learn-wrapper {
    background-color: #222;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: white;
    margin-bottom: 20px;
    outline-color:#c78c06;
    border: 3px solid #c78c06;
}

.button-learn {
    border: none;
    background: none;
    color: white;
}
.digital {
    display: block;
    width: 200%;
    background-position: relative ;
}


.ourvision-wrapper {
    position: relative;
}

.ourvision-text {
    position: absolute;
    top: 100px;
    color: white;
    padding: 5px;
}

.ourvisionimg {
    display: block;
    width: 100%;
    
    
}

.john-wrapper {
    background-color: #ffe6ac;
}

.bob-wrapper {
    background-color: #ffe6ac;
}

.boreder-top {
    border-top: 2px solid #c78c06 ; 
    padding-bottom: 20px;
}

.text-padding {
    padding-left: 20px;
    padding-right: 20px;
}
.contact {
    width: 100%;
}

.send {
    background-color: #222;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #c78c06;
    border: none;
    margin-top: 10px;

}
.gmap {
    width:100%
}

footer {
    background-color: #222;
    color:#c78c06;
}

