/* this is a css comment */
.nav-wrapper {
    background-color:black;
}

.home-nav{
    height: 140px;
}
.nav-item{
    text-align: center; /* center-align the text */
}
.nav-item:hover{
    background-color: rgb(255, 204, 0);
}
.home-nav:hover{
    background-color: rgb(255, 204, 0);
}
h2 {
    background-color: white;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display list items vertically */
nav ul li {
    display: block;
    
}

nav ul li a {
    display: block;
    color:blanchedalmond;
    padding: 10px 20px; ; /* Padding around links */
    text-decoration: none; /* Remove underline from links */
}

form {
    width: 100%;
    display: inline-block;
    background-color: white;
}

.search-wrapper {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
    padding: 20px; 
}

.search-wrapper input {
    width: 90%;
}

.search-wrapper i {
    border-style: solid;
    border-color: yellow;
    color: red;
}


.welcome {
    position: relative;
    display: inline-block; /* Ensures the container fits the content */
}

.welcome-text {
    position: absolute;
    top: 10px;
    left: 10px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 5px;
}

.about-us {
    background-color: rgb(255, 227, 124);
}

.our-services {
    background-color: rgb(255, 227, 124);
}


