/* this is a css comment */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (min-width: 760px) {
    .container {
        padding: 0 20px;}
    /* Styles applied between 760px and above */
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-wrapper {
    background-color:black;
}

.home-nav{
    height: 140px;
}

.nav-item{
    text-align: center; /* center-align the text */
}

.nav-item:hover{
    background-color: #c78c06;
}

.home-nav:hover{
    background-color: #c78c06;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display list items vertically */
nav ul li {
    display: block;
    
}

nav ul li a {
    display: block;
    color:#c78c06;
    padding: 10px 20px; ; /* Padding around links */
    text-decoration: none; /* Remove underline from links */
}

form {
    width: 100%;
    display: inline-block;
    background-color: white;
    height: 35px;
}

.search-wrapper {
    /* width: 100%; */
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
    height: 33px;

}

.search-wrapper input {
    width: 80%;
    margin-left: 5%;
}

.search-wrapper i {
    border-style: solid;
    border-color: #c78c06;
    color: #c78c06;
    width: 33px;
}


.welcome {
    position: relative;
    display: inline-block; /* the container fits the content */
    width: 800px;
}

.welcome-text {
    position: absolute;
    top: 100px;
    left: 10px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 5px;
}

.connectbutton-wrapper{
    background-color: #c78c06;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: black;
}
.button-connect {
    border: none;
    background: none;
}

.main-banner {
    display: block; /*the image takes up its full container's width */
    width: 100%;
}

.about-us {
    background-color: rgb(255, 227, 124);
}

.our-services {
    background-color: rgb(255, 227, 124);
}


